@import url("./dark_mode.css");
@import url("./media.css");
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

/*General*/
header {
    display: grid;
    grid-template-columns: 100px auto 100px;
    justify-content: space-between;
    align-items: center;
    
    padding: 3px;
    margin-right: 15%;
    margin-left: 2%;

    min-width: 550px;
    box-sizing: border-box;

    background-color: #409ce3;
    color: white;
    
    text-align: center;

    min-height: 100px;
}

.logo {
    width: 200px;
    height: 150px;
    background-image: url("./assets/logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

body {
    margin: 0;
    
    background: url("./assets/food.jpg");
    background-size: cover;
    background-attachment: fixed;

    font-family: "Mulish", "Segoe UI", Verdana, sans-serif;
    font-size: 1rem;
}

main {
    position: relative;
    margin-right: 15%;
    margin-left: 2%;
    margin-top: 0;
    border-bottom: 10px solid transparent;
    box-sizing: border-box;

    min-width: 550px;
    
    height: auto;
    min-height: fit-content;

    padding: 20px;

    text-align: center;
    background-color: #d7ebfa;
    background-clip: padding-box;
}

main.secondary-page {
    padding-left: 10%;
    padding-right: 10%;

    text-align: left;
}

main > button:first-child {
    margin-top: 7%;
}

button {
    margin-bottom: 10px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/*Dishes Search*/
.dishes-finder {
    width: 300px;
    max-width: calc(100vw - 40px);
    margin: 0 auto;
}  

.search-results ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.search-results ul li:first-child {
    margin-top: 10px;
}

#close-dishes-finder {
    margin-top: 10px;
}

/*Theme Toggler*/

.theme-toggler {
    width: 70px;
    height: 30px;

    border-radius: 15px;
    background-color: white;
}

.thumb {
    height: 26px;
    width: 26px;

    position: relative;
    left: 0;

    border-radius: 15px;
    border: 2px solid #b0e0e6;
    background-image: url("./assets/sun.png");
    background-size: cover;
    cursor: pointer;

    transition: all .5s ease;
}

/*Navigation*/

.menu-button,
.menu-button:hover,
.menu-button:active {
    height: 100px;
    width: 100px;
    margin: 0 auto;

    background-color: transparent;
    background-image: url("./assets/menu_web_version.png");
    background-position: center;
    background-repeat: no-repeat;
   
    border: 0;
}


nav {
    position: absolute;
    left: calc(2% + 10px);
    transform: translateY(-25px);
    z-index: 1000;

    width: fit-content;
    height: fit-content;
    padding: 10px;
    background-color: #337eb8;
    border-radius: 10px;
    text-align: left;
    visibility: visible;

    transition: all 1s ease;
}

nav.hidden {
    z-index: -1;
    padding-block: 0;
    min-height: 0;
    height: 0;
    transition-delay: .1s;
}

nav.hidden .nav-link, nav.hidden span {
    visibility: hidden;
    transition-delay: 0ms;
    opacity: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-link, nav span {
    visibility: visible;
    color: white;
    opacity: 1;
    transition: all .5s ease .5s;
}

nav span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    text-align: center;
}

#homepage {
    display: inline-block;
    height: 1rem;
    width: 1rem;

    background-image: url("./assets/homepage.png");
    background-size: contain;
    background-repeat: no-repeat;
}

.homepage-link {
    width: 0;
    height: 0;

    transition-property: width, height;
    transition-duration: 1.5s;

    transition-timing-function: ease-out;
}

/*Buttons*/

button, #continue, #ingredients-info {
    color: white;
    
    border: 1px solid #3782bc;
    border-radius: 10px;
    font-weight: 500;
    font-family: "Mulish", "Segoe UI", Verdana, sans-serif;
    
    text-align: center;
}

button, #continue {
    width: max-content;
    min-height: 20px;
    padding-inline: 5px;

    background-color:#409ce3
}

#continue, #back-button {
    margin: 20px 5px;
}

button:hover, 
button:active, 
#continue:hover,
#continue:active,
#ingredients-info:hover,
#ingredients-info:active {
    background-color:#357aaf;
    border: 1px solid #2f6e9e
}

#ingredients-info {
    position: absolute;
    right: 5px;
    top: 3px;
    margin-right: 20px;

    display: inline-block;
    width: 50px;
    height: 50px;

    background-color:#438ec8;
    background-image: url("./assets/info.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    text-align: center;

    text-decoration: none;
}

#ingredients-info.small {
    width: 40px;
    height: 40px;
}

.choose-all-button {
    min-width: 130px;
}

/*Images*/

img.left { 
    position: absolute;
    width: 75px;
    height: 75px;

    margin-right: 15%;
    left: 3%;

    vertical-align: middle;

    background-color: #409ce3;
}

/*Headers*/

h1, h2, h3 {
    margin: 10px auto;
    width: 75%;

    color: #409ce3;
    text-align: left;
}

h1.header {
    margin-top: 0;

    text-align: center;
}

h2.secondary-page {
    margin-left: 0;
    margin-top: 0;
}

/*Dishes*/

/*Form*/

form {
    margin: 0 auto;
    width: 75%;
    padding-bottom: 20px;

    line-height: 1.5;
    text-align: left;
}

input[type="checkbox"] {
    display: none;
}

.pseudo-checkbox {
    display: inline-block;
    justify-self: end;
    width: 15px;
    height: 15px;
    margin-right: 3px;

    background-image: url("assets/checkbox_unchecked.png");
    background-size: contain;
}

input[type="checkbox"]:checked + .pseudo-checkbox {
    background-image: url("assets/checkbox_checked.png");
}

.pseudo-checkbox.hidden {
    display: none;
}

/*Ingredients info*/

dl {
    text-align: left;
    margin-left: 5%
}

dt {
    font-weight: bold;
    color: #409ce3;
}

dd {
    margin: 0;
}

figure {
    float: right;

    margin-top: 0;
    margin-left: 15px;

    padding-right: 15px;
    width: fit-content;
    text-align: center;
}

figure.small {
    margin: 0;
}

figure.recipe {
    float: right;
}

figcaption {
    text-align: center;
    width: auto;
}

.ingredients-info-div {
    display: grid;
    grid-template-columns: auto 200px;
    grid-column-gap: 15px;

    grid-column-start: start;
}

.img-of-ingredient-with-info {
   max-width: 100%;
   max-height: 100%;

   cursor: zoom-in;
}

#fullscreen-image {
    width: fit-content;
    height: fit-content;
    text-align: center;
    border: none;
    text-align: center;
}

#fullscreen-image img {
    margin-top: 10px;
    border-radius: 30px;
}

/*Ingredients menu*/

.ingredients-container {
    position: relative;
    top: 0;
    left: 0;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 25px auto auto;
    justify-content: start;
    align-items: center;

    box-sizing: content-box;

    margin: 10px 0;

    width: 75%;
}

.ingredient-category-title,
.no-ingredients-title {
    grid-column: span 2;
}

.ingredient-name {
    grid-column-start: span 2;
}

.ingredient-category-title {
    margin-left: -5px;
}

.ingredient-checkbox {
    height: 13px;
    width: 13px;
}

.ingredient-checkbox:hidden {
    display: none;
}

.search-field {
    display: block;
    width: 300px;
    max-width: calc(100vw - 40px);
}

.choose-all-div {
    display: flex;
    align-items: center;
}

/*Dishes menu*/

#continue {
    margin-top: 20px;
}

#back-button + #continue {
    margin-top: 0;
}

.dishes-container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: auto 100px;
    column-gap: 20px;
    align-items: center;

    margin: 10px auto;
    justify-content: start;
    align-items: center;
    width: 75%;
}


.dishes-container #back-button {
    margin-inline: 0;
}

.dishes-container #back-button, .dishes-container #main-menu {
    grid-column: span 2;
    margin-block: 5px;
}

.dishes-container button {
    margin-block: 5px;
}

h2 + #back-button, br + #main-menu {
    margin-left: 12.5%;
    margin-right: 20px;
    margin-block: 5px;
}

.dish-item {
    display: list-item;
    list-style-type: disc;
}

/*Recipe and ingredients exclusion pop-ups*/

.recipe-pop-up, .exclude-ingredients-pop-up, #fullscreen-image[open] {
    z-index: 1000;
    position: fixed;

    margin: 0 auto;
    overflow: auto;

    display: table-cell;
    vertical-align: middle;

    padding: 20px;

    background-color: #d7ebfa;
    border-radius: 30px;
}

.recipe-pop-up, .exclude-ingredients-pop-up {
    max-height: 80%;
    text-align: left;
}

.recipe-pop-up {
    max-width: 75%;
    top: 20px;
}

.exclude-ingredients-pop-up {
    width: 420px;
    max-width: calc(100vw - 45px);
    height: fit-content;
    overflow: hidden;
}

.exclude-ingredients-pop-up, #fullscreen-image {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.recipe-title, .exclude-ingredients-title {
    margin: 0;

    color: #409ce3;
    font-weight: bold;
}

.exclude-ingredients-title {
    text-align: center;
    width: calc(95vw - 50px);
}

.frame-for-pop-up {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;

    width: 100%;
    height: 100%;

    background-color: #184a70;
    opacity: 0.5
}

.close-button,
.close-button:hover,
.close-button:active {
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    width: 50px;
    min-width: 50px;
    height: 50px;

    background-color: transparent;
    background-image: url("./assets/close.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
   
    border: 0;
}

.close-button:focus {
    outline: 2px solid #409ce3;
}

.img-of-dish, .img-of-ingredient-with-info {
    min-width: 1px;
    border-radius: 20px;
}

.img-of-dish {
    float: right;
}

.exclude-ingredients-panel {
    width: 350px;
    max-width: calc(95vw - 50px);
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}