@media(prefers-reduced-motion) {
    .nav-button, .theme-toggler, .thumb, .homepage-link {
        transition: none;
    }
}

@media screen and (max-width: 500px) {
    body {
        background: none;
    }

    header {
        grid-template-columns: 95px auto 95px;
        justify-content: center;
        align-items: center;
    }

    .menu-button {
        padding: 0;
    }

    main, header {
        margin: 0;
        min-width: 100%;
        max-width: 100%;
    }

    main {
        border-bottom: 0;
    }

    header .menu-button {
        transform: scale(0.8);
    }

    header .logo {
        width: 100px;
    }

    .wrapper {
        position: relative;
        justify-self: start;
    }

    nav {
        right: 0;
        left: 0;
    }


    .search-field {
        height: 25px;
        font-size: 1.25rem;
    }

    button, #continue, .choose-all-button {
        height: max-content;
        width: max-content;
        padding-inline: 10px;
    }

    #continue, #back-button {
        margin-bottom: 5px;
    }

    #continue {
        margin-top: 5px;
    }
    
    h1, h2, h3 {
        margin-inline: 0;
        margin-block: 10px;
    }

    .ingredient-category-title {
        font-size: 30px;
    }

    #runtime-form {
        margin: 0;
    }

    .nav-button, .theme-toggler, .thumb, .homepage-link {
        transition: none;
    }

    .exclude-ingredients-title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1000px) {
    body {
        background-position-x: center;
    }
}